<app-add-todos (todo)="addTodo($event)"></app-add-todos>
<div class="d-flex flex-row flex-wrap">
    <div *ngFor="let todo of todoList">
        <div class="card mx-3 my-3" style="width: 18rem;" *ngIf="todo.active">
            <div class="card-body">
                <h5 class="card-title">{{todo.title}}</h5>
                <p class="card-text">{{todo.description}}</p>
                <button type="button" ngClass="btn btn-primary btn-sm" (click)="toggleActive(todo)">Checked</button>
                <button type="button" ngClass="btn btn-danger btn-sm mx-3" (click)="deleteItem(todo)">Delete
                    Item</button>
            </div>
        </div>
    </div>
</div>